* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
body {
	font-family: cursive;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

/* NAVBAR1 */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: red;
	color: #fff;
    
 }
.nav-links a {
	color: #fff;
    font-size: 22px;
}
   /* LOGO */
.logo {
	font-size: 32px;
}
.logo img{
    padding: none;
    margin:none;
    width: 16%;
    height: 16%;
}

.logo img:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform:scale(1.15)

}

   /* NAVBAR MENU */
.menu {
	display: flex;
	gap: 1em;
	font-size: 22px;
}
.menu li:hover {
    background-color: darkred;
    border-radius: 10px;
    border-bottom: 5px solid black;
    cursor: pointer;
    color: black;
    font-size:x-large;
    transition: all 0.5s;
}
.menu li {
	padding: 5px 14px;
}
   /* DROPDOWN MENU */
.services {
	position: relative; 
}
.dropdown {
	background-color: darkred;
	padding: 1em 0;
	position: absolute; /*WITH RESPECT TO PARENT*/
	display: none;
	border-radius: 8px;
	top: 35px;
}
.dropdown li + li {
	margin-top: 10px;
}
.dropdown li {
	padding: 0.5em 1em;
	width: 8em;
	text-align: center;
}
   .dropdown li:hover {
	background-color: red;
}
   .services:hover .dropdown {
	display: block;
}

   /* MENU STARTS*/
  
input[type=checkbox]{
	display: none;
} 
   /*HAMBURGER MENU*/
.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}
   /* MEDIA QUERIES */
@media (max-width: 768px) {
    .menu { 
        display:none;
        position:absolute;
        background-color: darkred;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color:firebrick;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
	    left: 50%;
	    top: 30px;
	    transform: translateX(35%);
    }
    .dropdown li:hover {
	    background-color: red
    }
}
    /*Text*/
.history h1{
	text-align: center;
	color: white;
	background-color: black;
	letter-spacing: 5px;
	font-size: 2.5rem;
}
.history p{
	list-style: none;
	font-family: Arial;
}
.history h1 span{
	color: red;
}
.text{
	display: flex;
}
.text p{
	width:50%;
	height: 40vw;
}
.text img{
	height: 35vw;
	width: 50vw;
}

/**Section background-image**/
.Section_top{
	top: 830px;
    width: 100%;
    height: 100%;
	overflow: hidden;
    position: absolute;
	display: flex;
    background-image: url('images/image1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    justify-content: center;
    animation: change 40s infinite ease-out;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
	background-color: black;
	border-radius: 10%;
}
.content h1 span{
    color: red;
}
.content a{
    background: #b51a1a;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    color: white;
	letter-spacing: 8px;
}
.content a:hover{
    background: red;
    color: white;   
}
@keyframes change{
    0%{
        background-image: url('images/image1.jpeg');
    }
    20%{
        background-image: url('images/image2.jpeg');
    }
    40%{
        background-image: url('images/image3.jpeg');
    }
    60%{
        background-image: url('images/image4.jpeg');
    }
    80%{
        background-image: url('images/image5.jpeg');
    }
    100%{
        background-image: url('images/image1.jpeg');
    }
}

/**Footer**/
footer{
	top: 840px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color: white;
	background-color: rgb(28, 25, 25);
	bottom: 0;
}
footer > *{
	flex:1 100%;
}
.footer-left{
	margin-right: 1.25em;
	margin-bottom: 2em;
}
.footer-left img{
	width: 20vw;
    height: 20vw;
}

.footer-left img:hover{
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform:scale(1.10)
}
h2{
	font-weight: 600;
	font-size: 20px;
}
.footer h2:hover{
    color:orangered;
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 3em;
}

.footer a{
	text-decoration: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.box a{
	color: white;
}
.box li a:hover{
    color: white;
    background-color: red;
    font-size: larger;

}
.footer-bottom{
	text-align: center;
	color:white;
	padding-top:50px;
}
.footer-left p{
	padding-right:20px;
	color:white;
}
.socials a{
	/**background: rgb(110, 106, 106);**/
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
    
}
.socials a i{
	color: #e7f2f4;
	padding: 10px 12px;
	font-size: 20px;
}
.socials img{
    width: 100%;
    height: 100%;
}
.socials img:hover {
    -webkit-transform: scale(1.35);
    -ms-transform: scale(1.35);
    transform:scale(1.35)
    
}
@media screen and (min-height: 700px){
	.footer-right > *{
		flex: 1;
	}
	.footer-left{
		flex: 1 0px;
	}
	.footer-right{
		flex: 2 0px;   
	}
}
@media (max-width: 768px){
	.footer{
		padding: 15px;
        
	}
}

